<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BOCW_PS5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BOCW_PS5.Properties.Settings>
            <setting name="UPDATE_REQUIRED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.0.29</value>
            </setting>
        </BOCW_PS5.Properties.Settings>
    </userSettings>
</configuration>